{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1 align="center" class="title1">
        Your Profile
    </h1>


    <hr>

    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <th class="success" ><h3>Your Information</h3></th>

                </tr>
                <table class="table">
                    <tr>
                        <td> <h4>Full Name </h4> </td>
                        <td> <h4>{{ fullName }} </h4> </td>
                    </tr>
                    <tr>
                        <td> <h4>Index No</h4> </td>
                        <td> <h4>{{ indexNo }}</h4> </td>
                    </tr>
                    <tr>
                        <td > <h4>Year</h4></td>
                        <td> <h4>{{ year }}</h4> </td>

                    </tr>
                    <tr>
                        <td > <h4>Medium</h4></td>
                        <td> <h4>{{ medium }}</h4> </td>

                    </tr>
                    <tr>
                        <td > <h4>Marks</h4></td>
                        <td> <h4 style="font-weight: bold">{{ marks }}</h4> </td>

                    </tr>
                </table>
            </table>
        </div>

        <hr>
        <row ><div class="success1" ><h3>Selected School : {{ selectedSchool }}</h3></div></row>
        <hr>
        <div><a href="#" class="web">Contact us</a> if you did not receive a letter from your selected school within two weeks.</div>
        <br>
        <row><a href="#" class="web">View School Cutoff</a> |  <a href="#" class="web">View District Cutoff</a></row>
    </div>
{% endblock %}