{% extends '@Principal/base.html.twig' %}

{% block title %}Explores{% endblock %}

{% block body %}
    <h1>{{ school.name }}</h1>
    <table class="table table-condensed" style="width: 450pt" align="center">
        <thead>
        <tr>
            <th>Student Index</th>
            <th>Name</th>
            <th>Marks</th>
            <th>View</th>
            {% if dead == false %}
                <th>Approved</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for stuApplication in applications %}
            <tr>
                <td>{{ stuApplication.studentIndex }}</td>
                <td>{{ stuApplication.name }}</td>
                <td>{{ stuApplication.marks}}</td>
                <td>{{ stuApplication.approved}}</td>
                <td><a href="{{ path('viewPage') }}?id={{ stuApplication.studentIndex }}">View</a></td>
                {% if dead == false %}
                    <td><a href="">Approve</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}